<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

  {% seo %}
</head>

<body>

  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>MJH3</h1>
      </a>
      <h2>I love Cybersecurity as it allows me to work under constant pressure, actively engage in problem solving and apply my well-honed critical thinking skills. I am recognized as being a collaborative leader, an excellent communicator and one who loves to take responsibility for results. I am passionate about helping companies protect themselves from current threat actors. I have a keen interest in Penetration Testing, Social Engineering, and Forensics. I excel with data analysis, logic rules, business process, planning and communication.</h2>

      <section id="downloads">
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
        {% endif %}
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        <a href="https://www.linkedin.com/in/cyber-consultant" class="btn btn-linkedin">Check out my Linkedin</a>
      </section>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>
</body>

</html>
